In [36]:
import pymongo
from pymongo import MongoClient

In [37]:
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [38]:
mydb = myclient["mydatabase"]

In [39]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mylibrary', 'student_database', 'test']

In [40]:
#CREATING THE DATABASE
database_name="student_database"
student_db=myclient[database_name]

In [41]:
collection_name="student_info"
collection=student_db[collection_name]

In [42]:
student_db.list_collection_names()

['marks', 'Student_info']

In [43]:
#INSERTING a single Document
document={"Name":"Rio",
"Phone number ":  9999997777,
"Place ": "Chennai"}
collection.insert_one(document)

In [44]:
#INSERTING many Documents
documents=[{"Name":"Roshan","Phone number":9445577159,"Place ":"Chennai"},{"Name":"Rajiv","Phone number":9445577155,"Place ":"Chennai"},{"Name":"Thomas","Phone number":9445577156,"Place ":"Chennai"}]
collection.insert_many(documents)

In [45]:
#RETRIEVING a Document
query={"Name":"Rio"}
print(collection.find_one(query))

{'_id': ObjectId('634502f060100fc6a940dd21'), 'Name': 'Rio', 'Phone number ': 9999997777, 'Place ': 'Chennai'}

In [46]:
#RETRIEVING many Documents
result=collection.find({}).limit(2)
for i in result:
    print(i)

{'_id': ObjectId('634502f060100fc6a940dd21'), 'Name': 'Rio', 'Phone number ': 9999997777, 'Place ': 'Chennai'}
{'_id': ObjectId('634502f660100fc6a940dd22'), 'Name': 'Roshan', 'Phone number': 9445577159, 'Place ': 'Chennai'}

In [47]:
#UPDATING  DOCUMENTS
present_data={"Place":"Chennai"}
new_data={"$set":{"Place":"Hyderabad"}}
collection.update_many(present_data,new_data)

In [34]:
#DELETING A DOCUMENT
query={"Phone number":9445577156}
collection.delete_one(query)

In [35]:
#DELETING A DOCUMENTS
query={"Place":"Bangalore"}
collection.delete_many(query)